.formToglerControls {
  width: 100%;
}

ul.formToglerControls__itemNumbers {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  list-style-type: none;
}

.formToglerControls__itemNumber {
  padding: 0.5rem 0.8rem;
  margin: 0 0.5rem;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.formToglerControls__itemNumber.active {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.formTogler_panel2,
.formTogler_panel3 {
  display: none;
}

#main article.calcArticle {
  opacity: 1;
}

.actions.formToglerControls_items {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.actions.formToglerControls_items li:first-child {
  margin-left: auto;
}

.actions.formToglerControls_items li:last-child {
  margin-right: auto;
}
