#tableProjectsWeb_heading {
    background: var(--main-dark-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

#tableProjectsWeb_heading_navigationList {
    display: flex;
}

nav#tableProjectsWeb_heading_navigation ul#tableProjectsWeb_heading_navigationList{
    margin-bottom: 0;
}

.navigationList_navItem {
    margin: 0 1rem;
}

.navigationList_navItem a {
    transition: all 0.75s linear 0.25s;
}

.navigationList_navItem a:hover {
    text-decoration: none;
    color: var(--main-light-color);
}

